<section class="row">
  <article class="column">
    <h2>Assume Identity Of:</h2>

    <%= for courier <- couriers() do %>
      <button><%= courier.display_name %></button>
    <% end %>
  </article>
</section>
